body{
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.header{
  background: #1F2937;
  display: flex;
  color: white;
  font-size: 20px;
  justify-content: space-between;
  padding: 12px;
}

.logo{
  font-weight: bold;
  margin-left: 100px;
}

.header-links{
  display: flex;
  gap: 16px;
  align-items: center;
  margin-right: 100px;
}

.header-links a{
  color: lightgrey;
  text-decoration: none;
  font-size: 12px;
}

.under-header{
  background: #1F2937;
  display: flex;
  padding: 12px;
  justify-content: space-between;
  padding: 80px 0px;
}

.top-text-container{
  color: white;
  width: 300px;
  margin-left: 100px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.hero-text{
  font-size: 32px;
  width: 300px;
  font-weight: bold;
}

.hero-subtext{
  font-size: 12px;
  color: #b7b9bd;
}

.img-placeholder-box{
  background-color: grey;
  color: white;
  font-size: 12px;
  display: flex;
  width: 350px;
  margin-right: 100px;
  justify-content: center;
  align-items: center;
}

.under-header button{
  background-color: #3882F6;
  color: white;
  width: 80px;
  height: 20px;
  font-size: 12px;
  border-radius: 4px;
  border-style: none;
}